<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand"
      routerLink="/">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item"
          routerLinkActive="active">
            <a class="nav-link " aria-current="page"
            routerLink="/"
            routerLinkActiveOptions="{exact:true}"
            >Home</a>
          </li>
          <li class="nav-item"
          routerLinkActive="active">
            <a class="nav-link " aria-current="page"
            routerLink="/yachts"
            >Yachts</a>

          </li>
          <li class="nav-item"
          routerLinkActive="active">
            <a class="nav-link " aria-current="page"
            [routerLink]="['/modifica']"
            >Modifica Yacht</a>
          </li>
          <li class="nav-item"
          routerLinkActive="active">
            <a class="nav-link " aria-current="page"
            [routerLink]="['/offerte']"
            >Le nostre offerte</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- <p *ngIf="loggedIn; else noLog">Sei Loggato</p>
  <ng-template #noLog>Non sei Loggato</ng-template>
</div> -->

<div class="container">
  <!-- SELETTORE PER ATTUARE LA ROUTING:
    dentro router-outelet verranno renderizzati i singoli component-->

  <router-outlet></router-outlet>

</div>
